@media (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(231, 213, 189);
    width: 100%;
    height: auto;
  }

  section {
    height: auto;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }

  #todo-list {
    background-color: #fff;
  }

  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: grab;
    margin-left: -2rem;
    width: auto;
  }

  .task:nth-child(odd) {
    background-color: #f7f7f9;
    border-bottom: 1px solid #fff;
  }

  .task:nth-child(even) {
    background-color: #f7f7f9;
  }

  .task input[type="checkbox"] {
    margin-right: 10px;
  }

  #new-task {
    color: #000;
    height: 2rem;
    text-align: start;
    padding: 2px 1px 0 6px;
    font-size: 1rem;
    font-weight: 700;
    width: 75%;
    border: 0;
    margin-left: 0.5rem;
    background-color: #f7f7f9;
    border-bottom: 1px solid #fff;
  }

  .add-task-wrapper {
    height: auto;
    width: 100%;
    background-color: #f7f7f9;
    border-bottom: 1px solid #fff;
  }

  #add-task-btn {
    margin-left: auto;
    font-size: 0.7rem;
    color: #000;
    height: 2rem;
    border: 0;
    background-color: #f7f7f9;
  }

  #add-task-btn:hover {
    color: #6060ff;
    background-color: #fff;
    text-decoration: underline;
  }

  .task-description {
    width: 100%;
  }

  #add-task {
    margin-left: -10px;
  }

  #clear-list {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  #clear-list:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .me-1 {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .fa-arrows-rotate {
    float: right;
    padding: 0.5rem;
    font-size: 0.6rem;
  }

  .fa-trash-can {
    margin-left: auto;
    height: auto;
    width: 1%;
    margin-right: 1.2rem;
  }

  .task.dragging {
    opacity: 0.1;
    cursor: grabbing;
  }
}

/* Desktop media  */

@media (min-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(231, 213, 189);
    width: 100%;
    height: auto;
  }

  section {
    height: auto;
    margin: 4rem 20rem;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }

  #todo-list {
    background-color: #fff;
  }

  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: grab;
    margin-left: -2rem;
    width: auto;
  }

  .task:nth-child(odd) {
    background-color: #f7f7f9;
    border-bottom: 1px solid #fff;
  }

  .task:nth-child(even) {
    background-color: #f7f7f9;
  }

  .task input[type="checkbox"] {
    margin-right: 10px;
  }

  #new-task {
    color: red;
    height: 2rem;
    text-align: start;
    padding: 2px 1px 0 6px;
    font-size: 1rem;
    font-weight: 700;
    width: 86.5%;
    border: 0;
    margin-left: 0.5rem;
    background-color: #f7f7f9;
  }

  .add-task-wrapper {
    height: auto;
    width: 100%;
    background-color: #f7f7f9;
    border-bottom: 1px solid #fff;
  }

  #add-task-btn {
    color: #000;
    font-size: 0.9rem;
    font-weight: 700;
    width: 10%;
    height: 2rem;
    border: 0;
    background-color: #f7f7f9;
    padding-right: 0.1px;
  }

  #add-task-btn:hover {
    color: #fff;
    background-color: #6070ff;
    text-decoration: underline;
  }

  .task-description {
    width: 100%;
  }

  #add-task {
    margin-left: -10px;
    width: 100%;
  }

  #clear-list {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  #clear-list:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .me-1 {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .fa-arrows-rotate {
    float: right;
    padding: 0.5rem;
    font-size: 0.6rem;
  }

  .fa-trash-can {
    margin-left: auto;
    height: auto;
    width: 1%;
    margin-right: 1rem;
  }

  .fa-trash-can:hover {
    color: red;
  }

  .task.dragging {
    opacity: 0.1;
    cursor: grabbing;
  }
}
